<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <table style="width: 100%; background: #FFD301; border-bottom: 3px solid black;">
      <colgroup>
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 90%;">
      </colgroup>
      <tbody>
      <tr>
        <td>
          <div>
            <%= image_tag("uiowa_logo.png", alt: "", size: 70) %>
          </div>
          </br>
          <div style="font-size: 8px"> CS4980 - P2P - Centralized P2P network </div>
        </td>
        <td>
          <h1> Book Sharing - Server</h1>
        </td>
      </tr>
      </tbody>
    </table>
    </br>
    <div class="center">
      <% if flash[:notice] %>
          <div class = "alert alert-success">
            <ul>
              <%= flash[:notice] %>
            </ul>
          </div>
      <% elsif flash[:warning]%>
          <div class = "alert alert-danger">
            <ul>
              <%= flash[:warning] %>
            </ul>
          </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>