<title>Home</title>

<div class="center">
  <%= form_tag('/books/search') do -%>
      <%= text_field_tag :search_terms, nil, size: 50, placeholder: "Search for a book", id: 'search_box' %>
      <%= submit_tag "Search", class: "btn btn-primary", id: "search_button" %>
  <% end -%>
</div>

</br></br>
<div class="center">
  <%= link_to "Share new book", books_new_path, class: "btn btn-success" %>
  <br><br>

</div>

<h1>Realtime communication with WebRTC</h1>
<section>
  <form id="fileInfo">
    <input type="file" id="fileInput" name="files"/>
  </form>

  <div class="progress">
    <div class="label">Send progress: </div>
    <progress id="sendProgress" max="0" value="0"></progress>
  </div>

  <div class="progress">
    <div class="label">Receive progress: </div>
    <progress id="receiveProgress" max="0" value="0"></progress>
  </div>

  <div id="bitrate"></div>
  <a id="download"></a>
  <span id="status"></span>

</section>

<script src="/assets/webrtc/main.js" data-turbolinks-track="reload"></script>
<script src="/assets/webrtc/adapter.js"></script>