html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-size: 12pt;
}

h1 {
    color: black;
    text-indent: 350px;
    padding: 10px;
    width: 100%;
}

h3 {
  border-bottom: 2px solid black;
}

div.center {
    text-align: center;
}

table.homepage {
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
tr:nth-child(even){background-color: #f2f2f2}
